@import './App.css';
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

[data-placeholder]{
  position: relative
}

h2[data-placeholder][data-empty]:before,
h3[data-placeholder][data-empty]:before,
h4[data-placeholder][data-empty]:before,
h5[data-placeholder][data-empty]:before,
h6[data-placeholder][data-empty]:before,
h1[data-placeholder][data-empty]:before {
  content: attr(data-placeholder);
  pointer-events: none;
  opacity: 0.3;
  position: absolute;
  inset: 0;
}

p[data-placeholder][data-empty][data-focus]:before,
p[data-placeholder][data-empty]:hover:before {
  content: attr(data-placeholder);
  pointer-events: none;
  opacity: 0.3;
  position: absolute;
  inset: 0;
}

/* .slash-placeholder::before{
  content: attr(data-placeholder);
  pointer-events: none;
  opacity: 0.3;
  position: absolute;
  width: calc(100% + 20px);
  min-width: 140px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 14px;
  padding-left: 18px;
  top: -100%;
  left: -10px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.slash-placeholder{
  position: relative;
  color: white;
} */

ol > li{
  list-style-position: inside;
  list-style-type: decimal;
}

ul > li{
  list-style-position: inside;
  list-style-type: disc;
}

blockquote{
  border-left: 4px solid #ccc;
  padding-left: 16px;
  margin-left: 16px;
}

details{
  height: auto;
  overflow: hidden;
}

details:open {
  height: 100%;
}

[data-lexical-decorator="true"]{
  display: contents;
}